.container{
width: 100%;
padding-left: 70px;
}
.item{
 
}
.tt{
  padding-left: 140px;
text-align: center;
color: #a0d911;
}

.btnWrapper{
  display: flex;
  justify-content: center;
}

.btn{
  margin-left: 140px;
}