.container {
  width: 700px;

  .title {

    font-size: 16px;
    text-align: center;
    color: rgba(118, 115, 115, 1);
    margin-top: 16px;
    margin-bottom: 16px;

  }

  .list {
    background: rgba(254, 254, 254, 1);
    border-radius: 5px;
    padding: 16.5px 16.5px 24px 16.5px;
    display: flex;
    flex-wrap: wrap;
    &>div {
      float: left;
      margin-right: 48px;

      &:nth-child(3n+0) {
        margin-right: 0;
      }
      margin-bottom: 30px;
    }
  }

  .err {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}